<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2026 Qiantong Technology Co., Ltd.
  qKnow Knowledge Platform
   *
  License:
  Released under the Apache License, Version 2.0.
  You may use, modify, and distribute this software for commercial purposes
  under the terms of the License.
   *
  Special Notice:
  All derivative versions are strictly prohibited from modifying or removing
  the default system logo and copyright information.
  For brand customization, please apply for brand customization authorization via official channels.
   *
  More information: https://qknow.qiantong.tech/business.html
   *
  ============================================================================
   *
  版权所有 © 2026 江苏千桐科技有限公司
  qKnow 知识平台（开源版）
   *
  许可协议：
  本项目基于 Apache License 2.0 开源协议发布，
  允许在遵守协议的前提下进行商用、修改和分发。
   *
  特别说明：
  所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
  如需定制品牌，请通过官方渠道申请品牌定制授权。
   *
  更多信息请访问：https://qknow.qiantong.tech/business.html
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qknow.module.system.mapper.SysDictTypeMapper">

	<resultMap type="SysDictType" id="SysDictTypeResult">
		<id     property="dictId"     column="dict_id"     />
		<result property="dictName"   column="dict_name"   />
		<result property="dictType"   column="dict_type"   />
		<result property="status"     column="status"      />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<sql id="selectDictTypeVo">
        select dict_id, dict_name, dict_type, status, create_by, create_time, remark
		from system_dict_type
    </sql>

	<select id="selectDictTypeList" parameterType="SysDictType" resultMap="SysDictTypeResult">
	    <include refid="selectDictTypeVo"/>
		<where>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<choose>
				<!-- 如果数据库是 kingBase -->
				<when test="@tech.qiantong.qknow.mybatis.config.MasterDataSourceConfig@getDatabaseType() == 'kingbase8'">
					<if test="dictName != null and dictName != ''">
						AND dict_name LIKE '%' || #{dictName} || '%'
					</if>
					<if test="dictType != null and dictType != ''">
						AND dict_type LIKE '%' || #{dictType} || '%'
					</if>
					<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
						AND create_time &gt;= #{params.beginTime}
					</if>
					<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
						AND create_time &lt;= #{params.endTime}
					</if>
				</when>

				<!-- 如果是其他数据库（如 MySQL、 DM） -->
				<otherwise>
					<if test="dictName != null and dictName != ''">
						AND dict_name like concat('%', #{dictName}, '%')
					</if>
					<if test="dictType != null and dictType != ''">
						AND dict_type like concat('%', #{dictType}, '%')
					</if>
					<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
						and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
					</if>
					<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
						and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
					</if>
				</otherwise>
			</choose>
	    </where>
	</select>

	<select id="selectDictTypeAll" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
	</select>

	<select id="selectDictTypeById" parameterType="Long" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_id = #{dictId}
	</select>

	<select id="selectDictTypeByType" parameterType="String" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_type = #{dictType}
	</select>

	<select id="checkDictTypeUnique" parameterType="String" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_type = #{dictType} limit 1
	</select>

	<delete id="deleteDictTypeById" parameterType="Long">
 		delete from system_dict_type where dict_id = #{dictId}
 	</delete>

 	<delete id="deleteDictTypeByIds" parameterType="Long">
 		delete from system_dict_type where dict_id in
 		<foreach collection="array" item="dictId" open="(" separator="," close=")">
 			#{dictId}
        </foreach>
 	</delete>

 	<update id="updateDictType" parameterType="SysDictType">
 		update system_dict_type
 		<set>
 			<if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
 			<if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
 			<if test="status != null">status = #{status},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where dict_id = #{dictId}
	</update>

 	<insert id="insertDictType" parameterType="SysDictType">
 		insert into system_dict_type(
 			<if test="dictName != null and dictName != ''">dict_name,</if>
 			<if test="dictType != null and dictType != ''">dict_type,</if>
 			<if test="status != null">status,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="dictName != null and dictName != ''">#{dictName},</if>
 			<if test="dictType != null and dictType != ''">#{dictType},</if>
 			<if test="status != null">#{status},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>

</mapper>
