<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qknow.module.kmc.dal.mapper.kmcDocumentLog.KmcDocumentLogMapper">

    <resultMap type="KmcDocumentLogDO" id="KmcDocumentLogResult">
        <result property="id"    column="id"    />
        <result property="workspaceId"    column="workspace_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="documentId"    column="document_id"    />
        <result property="documentName"    column="document_name"    />
        <result property="type"    column="type"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updaterId"    column="updater_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectKmcDocumentLogVo">
        select id, workspace_id, user_id, user_name, document_id, document_name, type, valid_flag, del_flag, create_by, creator_id, create_time, update_by, updater_id, update_time, remark from kmc_document_log
    </sql>

    <select id="selectKmcDocumentLogList" parameterType="KmcDocumentLogDO" resultMap="KmcDocumentLogResult">
        <include refid="selectKmcDocumentLogVo"/>
        <where>
            <if test="workspaceId != null "> and workspace_id = #{workspaceId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="documentId != null "> and document_id = #{documentId}</if>
            <if test="documentName != null  and documentName != ''"> and document_name like concat('%', #{documentName}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>

    <select id="selectKmcDocumentLogById" parameterType="Long" resultMap="KmcDocumentLogResult">
        <include refid="selectKmcDocumentLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertKmcDocumentLog" parameterType="KmcDocumentLogDO" useGeneratedKeys="true" keyProperty="id">
        insert into kmc_document_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workspaceId != null">workspace_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="documentId != null">document_id,</if>
            <if test="documentName != null">document_name,</if>
            <if test="type != null">type,</if>
            <if test="validFlag != null">valid_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updaterId != null">updater_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workspaceId != null">#{workspaceId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="documentId != null">#{documentId},</if>
            <if test="documentName != null">#{documentName},</if>
            <if test="type != null">#{type},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updaterId != null">#{updaterId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateKmcDocumentLog" parameterType="KmcDocumentLogDO">
        update kmc_document_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="workspaceId != null">workspace_id = #{workspaceId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="documentId != null">document_id = #{documentId},</if>
            <if test="documentName != null">document_name = #{documentName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updaterId != null">updater_id = #{updaterId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKmcDocumentLogById" parameterType="Long">
        delete from kmc_document_log where id = #{id}
    </delete>

    <delete id="deleteKmcDocumentLogByIds" parameterType="String">
        delete from kmc_document_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="seletAllDocumentLogList" parameterType="KmcDocumentLogDO" resultMap="KmcDocumentLogResult">
        <include refid="selectKmcDocumentLogVo"/>
        <where>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
        </where>
    </select>

</mapper>
