/*
 * Copyright © 2026 Qiantong Technology Co., Ltd.
 * qKnow Knowledge Platform
 *  *
 * License:
 * Released under the Apache License, Version 2.0.
 * You may use, modify, and distribute this software for commercial purposes
 * under the terms of the License.
 *  *
 * Special Notice:
 * All derivative versions are strictly prohibited from modifying or removing
 * the default system logo and copyright information.
 * For brand customization, please apply for brand customization authorization via official channels.
 *  *
 * More information: https://qknow.qiantong.tech/business.html
 *  *
 * ============================================================================
 *  *
 * 版权所有 © 2026 江苏千桐科技有限公司
 * qKnow 知识平台（开源版）
 *  *
 * 许可协议：
 * 本项目基于 Apache License 2.0 开源协议发布，
 * 允许在遵守协议的前提下进行商用、修改和分发。
 *  *
 * 特别说明：
 * 所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
 * 如需定制品牌，请通过官方渠道申请品牌定制授权。
 *  *
 * 更多信息请访问：https://qknow.qiantong.tech/business.html
 */

package ${packageName}.service.${moduleName};

import java.util.List;
import java.util.Map;
import java.util.Collection;
import com.baomidou.mybatisplus.extension.service.IService;
import tech.qiantong.qknow.common.core.page.PageResult;
import ${packageName}.controller.admin.${moduleName}.vo.${ClassName}SaveReqVO;
import ${packageName}.controller.admin.${moduleName}.vo.${ClassName}PageReqVO;
import ${packageName}.controller.admin.${moduleName}.vo.${ClassName}RespVO;
import ${packageName}.dal.dataobject.${moduleName}.${ClassName}DO;
#if($table.sub)
#elseif($table.tree)
#end
/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}DO> {

    /**
     * 获得${functionName}分页列表
     *
     * @param pageReqVO 分页请求
     * @return ${functionName}分页列表
     */
    PageResult<${ClassName}DO> get${ClassName}Page(${ClassName}PageReqVO pageReqVO);

    /**
     * 创建${functionName}
     *
     * @param createReqVO ${functionName}信息
     * @return ${functionName}编号
     */
    Long create${ClassName}(${ClassName}SaveReqVO createReqVO);

    /**
     * 更新${functionName}
     *
     * @param updateReqVO ${functionName}信息
     */
    int update${ClassName}(${ClassName}SaveReqVO updateReqVO);

    #if($table.crud || $table.sub)
    /**
     * 删除${functionName}
     *
     * @param idList ${functionName}编号
     */
    int remove${ClassName}(Collection<Long> idList);
    #elseif($table.tree)
    /**
     * 删除${functionName}
     *
     * @param id ${functionName}编号
     */
    int remove${ClassName}(Long id);
    #end

    /**
     * 获得${functionName}详情
     *
     * @param id ${functionName}编号
     * @return ${functionName}
     */
    ${ClassName}DO get${ClassName}ById(Long id);

    /**
     * 获得全部${functionName}列表
     *
     * @return ${functionName}列表
     */
    List<${ClassName}DO> get${ClassName}List();

    /**
     * 获得全部${functionName} Map
     *
     * @return ${functionName} Map
     */
    Map<Long, ${ClassName}DO> get${ClassName}Map();

    #if($table.tree)
    /**
     * 是否存在${functionName}子节点
     *
     * @param id ${functionName}id
     * @return 结果 true 存在 false 不存在
     */
    boolean hasChildBy${ClassName}Id(Long id);
    #end

    #if($table.crud || $table.sub)
    /**
     * 导入${functionName}数据
     *
     * @param importExcelList ${functionName}数据列表
     * @param isUpdateSupport 是否更新支持，如果已存在，则进行更新数据
     * @param operName 操作用户
     * @return 结果
     */
    String import${ClassName}(List<${ClassName}RespVO> importExcelList, boolean isUpdateSupport, String operName);
    #end

}
