@font-face {
    font-family: "iconfont"; /* Project id 4715085 */
    src: url('./font/iconfont.woff2') format('woff2'),
    url('./font/iconfont.woff') format('woff'),
    url('./font/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-mini {
    font-family: "iconfont" !important;
    font-size: 10px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-caigourukudan:before {
    content: "\e633";
}

.icon-waimaidingdan:before {
    content: "\e610";
}

.icon-shujutongbu:before {
    content: "\e6d6";
}

.icon-weiwaidingdan:before {
    content: "\e658";
}

.icon-caigoujieguoqingkuang:before {
    content: "\e6eb";
}

.icon-tongbu:before {
    content: "\e6fb";
}

.icon-dayang1:before {
    content: "\e81e";
}

.icon-shujutongbu1:before {
    content: "\e611";
}

.icon-dayang2:before {
    content: "\e628";
}

.icon-iconShoppingCart:before {
    content: "\e6f6";
}

.icon-dayang3:before {
    content: "\e6e4";
}

.icon-dayangkanyangguanli:before {
    content: "\e673";
}

.icon-weiwaishenqing:before {
    content: "\e63c";
}

.icon-weiwaidingdan1:before {
    content: "\e6af";
}

.icon-caigou:before {
    content: "\e887";
}

.icon-dayang:before {
    content: "\e674";
}

.icon-dayangzhong:before {
    content: "\e81d";
}

.icon-icon-cart:before {
    content: "\e636";
}

.icon-fujian:before {
    content: "\e698";
}

.icon-fujianbaobiao:before {
    content: "\e62e";
}

.icon-yulanfujian:before {
    content: "\e60e";
}

.icon-tongzhi:before {
    content: "\e60c";
}

.icon-a-ziliaoshangchuan1:before {
    content: "\e60d";
}

.icon-ziliaoshangchuan:before {
    content: "\e606";
}

.icon-tongzhitonggao:before {
    content: "\e607";
}

.icon-a-gonggaogongshigongbu:before {
    content: "\e609";
}

.icon-tijiaoshenqing:before {
    content: "\e60a";
}

.icon-shangchuan:before {
    content: "\e60b";
}

.icon-qianyue:before {
    content: "\e605";
}

.icon-cg-tongguo:before {
    content: "\e604";
}

.icon-fangong:before {
    content: "\e728";
}

.icon-a-shengchanbaofeimingxianpici:before {
    content: "\e608";
}

.icon-duihao:before {
    content: "\eaf1";
}

.icon-cuocha_kuai:before {
    content: "\ed1e";
}

.icon-a-zu22792:before {
    content: "\e81c";
}

.icon-a-zu22791:before {
    content: "\e81a";
}

.icon-a-zu22790:before {
    content: "\e81b";
}

.icon-a-zu22787:before {
    content: "\e819";
}

.icon-a-zu22741:before {
    content: "\e818";
}

.icon-a-zu9888:before {
    content: "\e817";
}

.icon-bianzu:before {
    content: "\ecd2";
}

.icon-wanchengbaoyanggongdan:before {
    content: "\e812";
}

.icon-kaishibaoyang:before {
    content: "\e813";
}

.icon-kaishidianjian:before {
    content: "\e814";
}

.icon-zhongzhimima:before {
    content: "\e815";
}

.icon-shenlingshebei:before {
    content: "\e816";
}

.icon-a-lujing22113:before {
    content: "\e811";
}

.icon-fuzhi1:before {
    content: "\ecd1";
}

.icon-a-lujing21953:before {
    content: "\e810";
}

.icon-a-zu22600:before {
    content: "\e805";
}

.icon-a-zu22606:before {
    content: "\e80d";
}

.icon-a-zu22597:before {
    content: "\e80e";
}

.icon-a-zu22598:before {
    content: "\e80f";
}

.icon-shanchu-hongse1:before {
    content: "\e80c";
}

.icon-zhihangrenwu:before {
    content: "\e7fe";
}

.icon-fenjie:before {
    content: "\e7ff";
}

.icon-wanchengweixiu:before {
    content: "\e800";
}

.icon-paichan:before {
    content: "\e801";
}

.icon-shengchengrenwu:before {
    content: "\e802";
}

.icon-kaishiweixiu:before {
    content: "\e803";
}

.icon-a-zu22552:before {
    content: "\e804";
}

.icon-a-zu22551:before {
    content: "\e806";
}

.icon-weixiujindu:before {
    content: "\e807";
}

.icon-guzhangweixiushenhe:before {
    content: "\e808";
}

.icon-a-zu22550:before {
    content: "\e809";
}

.icon-shengchengjihua:before {
    content: "\e80a";
}

.icon-a-zu22553:before {
    content: "\e80b";
}

.icon-xiugai--copy:before {
    content: "\ecd0";
}

.icon-xiazai:before {
    content: "\e7fd";
}

.icon-wenjianshanchu:before {
    content: "\e7f9";
}

.icon-chengpinruku:before {
    content: "\e7fa";
}

.icon-tupianshanchu:before {
    content: "\e7fb";
}

.icon-baogong:before {
    content: "\e7fc";
}

.icon-tuiliao:before {
    content: "\e7f6";
}

.icon-lingliao:before {
    content: "\e7f7";
}

.icon-chejian:before {
    content: "\e7f8";
}

.icon-wenjian:before {
    content: "\e6cf";
}

.icon-wenjianjia:before {
    content: "\e6d0";
}

.icon-zhuanexcel:before {
    content: "\e6f8";
}

.icon-a-zu22430:before {
    content: "\e7f5";
}

.icon-fanhui-lanse:before {
    content: "\e7ea";
}

.icon-a-zu22471:before {
    content: "\e7eb";
}

.icon-fanhui-baise:before {
    content: "\e7ec";
}

.icon-a-zu22475:before {
    content: "\e7ed";
}

.icon-a-zu22479:before {
    content: "\e7ee";
}

.icon-a-zu22472:before {
    content: "\e7ef";
}

.icon-a-zu22473:before {
    content: "\e7f0";
}

.icon-a-zu22478:before {
    content: "\e7f1";
}

.icon-a-zu22477:before {
    content: "\e7f2";
}

.icon-a-zu22480:before {
    content: "\e7f3";
}

.icon-a-zu22470:before {
    content: "\e7f4";
}

.icon-dianzhui:before {
    content: "\e7c6";
}

.icon-fangda:before {
    content: "\e7c7";
}

.icon-guanbi:before {
    content: "\e7c8";
}

.icon-huisechazhao:before {
    content: "\e7c9";
}

.icon-suoxiao:before {
    content: "\e7ca";
}

.icon-shanchu-huise:before {
    content: "\e7cb";
}

.icon-a-lujing21892:before {
    content: "\e7cc";
}

.icon-shanchu-hongse:before {
    content: "\e7cd";
}

.icon-quanping:before {
    content: "\e7ce";
}

.icon-xialaxuanxiang:before {
    content: "\e7cf";
}

.icon-xinzeng:before {
    content: "\e7d0";
}

.icon-wenxintishi:before {
    content: "\e7d1";
}

.icon-rili:before {
    content: "\e7d2";
}

.icon-xialaxuanxiang1:before {
    content: "\e7d3";
}

.icon-zhedie1:before {
    content: "\e7d4";
}

.icon-a-lujing21894:before {
    content: "\e7d5";
}

.icon-peizhi:before {
    content: "\e7d6";
}

.icon-a-zu20733:before {
    content: "\e7d7";
}

.icon-a-zu22229:before {
    content: "\e7d8";
}

.icon-a-zu22343:before {
    content: "\e7d9";
}

.icon-a-zu22378:before {
    content: "\e7da";
}

.icon-a-zu22377:before {
    content: "\e7db";
    font-size: 9px;
}

.icon-a-zu22395:before {
    content: "\e7dc";
}

.icon-a-zu12667:before {
    content: "\e7dd";
}

.icon-a-zu22239:before {
    content: "\e7de";
}

.icon-a-zu22367:before {
    content: "\e7df";
}

.icon-a-zu22396:before {
    content: "\e7e0";
}

.icon-a-zu22387:before {
    content: "\e7e1";
}

.icon-a-zu22422:before {
    content: "\e7e2";
}

.icon-a-zu22421:before {
    content: "\e7e3";
}

.icon-a-zu22379:before {
    content: "\e7e4";
}

.icon-a-zu22380:before {
    content: "\e7e5";
}

.icon-a-zu22412:before {
    content: "\e7e6";
}

.icon-a-zu22411:before {
    content: "\e7e7";
}

.icon-a-zu22381:before {
    content: "\e7e8";
}

.icon-a-zu22417:before {
    content: "\e7e9";
}

.icon-a-zu22383:before {
    content: "\e7c5";
}

.icon-archive-2-line:before {
    content: "\ecc3";
}

.icon-file-unknow-line:before {
    content: "\ecc4";
}

.icon-feedback-line:before {
    content: "\ecc5";
}

.icon-delete-bin-line1:before {
    content: "\ecc6";
}

.icon-file-unknow-fill:before {
    content: "\ecc7";
}

.icon-error-warning-line:before {
    content: "\ecc8";
}

.icon-building-2-line1:before {
    content: "\ecc9";
}

.icon-honour-fill1:before {
    content: "\ecca";
}

.icon-building-2-fill1:before {
    content: "\eccb";
}

.icon-file-list-3-fill1:before {
    content: "\eccc";
}

.icon-home-6-fill1:before {
    content: "\eccd";
}

.icon-archive-2-fill:before {
    content: "\ecce";
}

.icon-delete-bin-fill1:before {
    content: "\eccf";
}

.icon-shield-check-line2:before {
    content: "\ecb6";
}

.icon-honour-line1:before {
    content: "\ecb7";
}

.icon-inbox-2-line:before {
    content: "\ecb8";
}

.icon-todo-fill:before {
    content: "\ecb9";
}

.icon-refresh-line:before {
    content: "\ecba";
}

.icon-wallet-3-fill:before {
    content: "\ecbb";
}

.icon-question-line2:before {
    content: "\ecbc";
}

.icon-sword-fill:before {
    content: "\ecbd";
}

.icon-shield-check-fill1:before {
    content: "\ecbe";
}

.icon-global-line1:before {
    content: "\ecbf";
}

.icon-question-fill1:before {
    content: "\ecc0";
}

.icon-group-fill1:before {
    content: "\ecc1";
}

.icon-inbox-2-fill:before {
    content: "\ecc2";
}

.icon-questionnaire-line1:before {
    content: "\ec35";
}

.icon-todo-line1:before {
    content: "\eca1";
}

.icon-feedback-fill:before {
    content: "\eca9";
}

.icon-questionnaire-fill1:before {
    content: "\ecaa";
}

.icon-zoom-in-line2:before {
    content: "\ecab";
}

.icon-add-line:before {
    content: "\ecac";
}

.icon-error-warning-fill:before {
    content: "\ecad";
}

.icon-global-fill1:before {
    content: "\ecae";
}

.icon-group-line2:before {
    content: "\ecaf";
}

.icon-sword-line:before {
    content: "\ecb0";
}

.icon-wallet-3-line:before {
    content: "\ecb1";
}

.icon-zoom-out-line2:before {
    content: "\ecb2";
}

.icon-search-2-line1:before {
    content: "\ecb3";
}

.icon-file-list-3-line1:before {
    content: "\ecb4";
}

.icon-home-6-line1:before {
    content: "\ecb5";
}

.icon-lock-line1:before {
    content: "\e601";
}

.icon-shield-check-line1:before {
    content: "\e602";
}

.icon-user-line1:before {
    content: "\e603";
}

.icon-a-24-hours-fill:before {
    content: "\ebfb";
}

.icon-alarm-warning-fill:before {
    content: "\ebfc";
}

.icon-alipay-fill:before {
    content: "\ebfd";
}

.icon-apps-fill:before {
    content: "\ebfe";
}

.icon-arrow-left-s-line1:before {
    content: "\ebff";
}

.icon-article-fill:before {
    content: "\ec00";
}

.icon-arrow-down-s-line1:before {
    content: "\ec01";
}

.icon-account-box-fill:before {
    content: "\ec02";
}

.icon-archive-fill:before {
    content: "\ec03";
}

.icon-arrow-up-s-line1:before {
    content: "\ec04";
}

.icon-arrow-right-s-line1:before {
    content: "\ec05";
}

.icon-archive-drawer-fill:before {
    content: "\ec06";
}

.icon-building-2-fill:before {
    content: "\ec07";
}

.icon-bank-card-fill:before {
    content: "\ec08";
}

.icon-building-fill:before {
    content: "\ec09";
}

.icon-barricade-fill:before {
    content: "\ec0a";
}

.icon-briefcase-4-fill:before {
    content: "\ec0b";
}

.icon-contacts-book-2-fill:before {
    content: "\ec0c";
}

.icon-barcode-box-fill:before {
    content: "\ec0d";
}

.icon-bar-chart-2-fill:before {
    content: "\ec0e";
}

.icon-car-fill:before {
    content: "\ec0f";
}

.icon-calendar-2-fill:before {
    content: "\ec10";
}

.icon-brush-3-fill:before {
    content: "\ec11";
}

.icon-bilibili-fill:before {
    content: "\ec12";
}

.icon-bookmark-2-fill:before {
    content: "\ec13";
}

.icon-cloud-fill:before {
    content: "\ec14";
}

.icon-building-3-fill:before {
    content: "\ec15";
}

.icon-bookmark-fill:before {
    content: "\ec16";
}

.icon-database-fill:before {
    content: "\ec17";
}

.icon-compass-fill:before {
    content: "\ec18";
}

.icon-calendar-fill:before {
    content: "\ec19";
}

.icon-bar-chart-box-fill:before {
    content: "\ec1a";
}

.icon-barcode-fill:before {
    content: "\ec1b";
}

.icon-chat-smile-2-fill:before {
    content: "\ec1c";
}

.icon-coupon-2-fill:before {
    content: "\ec1d";
}

.icon-customer-service-fill:before {
    content: "\ec1e";
}

.icon-edit-2-fill:before {
    content: "\ec1f";
}

.icon-file-list-3-fill:before {
    content: "\ec20";
}

.icon-contacts-fill:before {
    content: "\ec21";
}

.icon-file-excel-fill:before {
    content: "\ec22";
}

.icon-download-fill:before {
    content: "\ec23";
}

.icon-dashboard-2-fill:before {
    content: "\ec24";
}

.icon-file-copy-2-fill:before {
    content: "\ec25";
}

.icon-download-cloud-fill:before {
    content: "\ec26";
}

.icon-file-word-2-fill:before {
    content: "\ec27";
}

.icon-file-ppt-fill:before {
    content: "\ec28";
}

.icon-file-pdf-fill:before {
    content: "\ec29";
}

.icon-draft-fill:before {
    content: "\ec2a";
}

.icon-first-aid-kit-fill:before {
    content: "\ec2b";
}

.icon-eye-close-fill:before {
    content: "\ec2c";
}

.icon-delete-bin-fill:before {
    content: "\ec2d";
}

.icon-gift-fill:before {
    content: "\ec2e";
}

.icon-dossier-fill:before {
    content: "\ec2f";
}

.icon-file-list-2-fill:before {
    content: "\ec30";
}

.icon-file-excel-2-fill:before {
    content: "\ec31";
}

.icon-group-fill:before {
    content: "\ec32";
}

.icon-history-fill:before {
    content: "\ec33";
}

.icon-global-fill:before {
    content: "\ec34";
}

.icon-headphone-fill:before {
    content: "\ec36";
}

.icon-empathize-fill:before {
    content: "\ec37";
}

.icon-live-fill:before {
    content: "\ec38";
}

.icon-earth-fill:before {
    content: "\ec39";
}

.icon-heart-pulse-fill:before {
    content: "\ec3a";
}

.icon-footprint-fill:before {
    content: "\ec3b";
}

.icon-game-fill:before {
    content: "\ec3c";
}

.icon-hospital-fill:before {
    content: "\ec3d";
}

.icon-honour-fill:before {
    content: "\ec3e";
}

.icon-eye-fill:before {
    content: "\ec3f";
}

.icon-government-fill:before {
    content: "\ec40";
}

.icon-home-6-fill:before {
    content: "\ec41";
}

.icon-heart-2-fill:before {
    content: "\ec42";
}

.icon-funds-box-fill:before {
    content: "\ec43";
}

.icon-menu-2-fill:before {
    content: "\ec44";
}

.icon-macbook-fill:before {
    content: "\ec45";
}

.icon-file-ppt-2-fill:before {
    content: "\ec46";
}

.icon-message-3-fill:before {
    content: "\ec47";
}

.icon-open-arm-fill:before {
    content: "\ec48";
}

.icon-profile-fill:before {
    content: "\ec49";
}

.icon-health-book-fill:before {
    content: "\ec4a";
}

.icon-lock-fill:before {
    content: "\ec4b";
}

.icon-list-settings-fill:before {
    content: "\ec4c";
}

.icon-information-fill:before {
    content: "\ec4d";
}

.icon-image-fill:before {
    content: "\ec4e";
}

.icon-lock-unlock-fill:before {
    content: "\ec4f";
}

.icon-map-pin-fill:before {
    content: "\ec50";
}

.icon-home-4-fill:before {
    content: "\ec51";
}

.icon-layout-4-fill:before {
    content: "\ec52";
}

.icon-function-fill:before {
    content: "\ec53";
}

.icon-shopping-bag-2-fill:before {
    content: "\ec54";
}

.icon-fingerprint-fill:before {
    content: "\ec55";
}

.icon-red-packet-fill:before {
    content: "\ec56";
}

.icon-reply-fill:before {
    content: "\ec57";
}

.icon-mouse-fill:before {
    content: "\ec58";
}

.icon-pass-pending-fill:before {
    content: "\ec59";
}

.icon-file-word-fill:before {
    content: "\ec5a";
}

.icon-question-fill:before {
    content: "\ec5b";
}

.icon-phone-fill:before {
    content: "\ec5c";
}

.icon-map-2-fill:before {
    content: "\ec5d";
}

.icon-home-5-fill:before {
    content: "\ec5e";
}

.icon-numbers-fill:before {
    content: "\ec5f";
}

.icon-questionnaire-fill:before {
    content: "\ec60";
}

.icon-search-fill:before {
    content: "\ec61";
}

.icon-navigation-fill:before {
    content: "\ec62";
}

.icon-mail-fill:before {
    content: "\ec63";
}

.icon-rss-fill:before {
    content: "\ec64";
}

.icon-school-fill:before {
    content: "\ec65";
}

.icon-star-fill:before {
    content: "\ec66";
}

.icon-login-box-fill:before {
    content: "\ec67";
}

.icon-thumb-down-fill:before {
    content: "\ec68";
}

.icon-suitcase-fill:before {
    content: "\ec69";
}

.icon-message-2-fill:before {
    content: "\ec6a";
}

.icon-robot-fill:before {
    content: "\ec6b";
}

.icon-share-box-fill:before {
    content: "\ec6c";
}

.icon-megaphone-fill:before {
    content: "\ec6d";
}

.icon-smartphone-fill:before {
    content: "\ec6e";
}

.icon-movie-2-fill:before {
    content: "\ec6f";
}

.icon-fullscreen-fill:before {
    content: "\ec70";
}

.icon-men-fill:before {
    content: "\ec71";
}

.icon-shield-user-fill:before {
    content: "\ec72";
}

.icon-qr-code-fill:before {
    content: "\ec73";
}

.icon-slideshow-3-fill:before {
    content: "\ec74";
}

.icon-shut-down-fill:before {
    content: "\ec75";
}

.icon-send-plane-fill:before {
    content: "\ec76";
}

.icon-settings-fill:before {
    content: "\ec77";
}

.icon-tv-2-fill:before {
    content: "\ec78";
}

.icon-seedling-fill:before {
    content: "\ec79";
}

.icon-team-fill:before {
    content: "\ec7a";
}

.icon-share-fill:before {
    content: "\ec7b";
}

.icon-shopping-bag-3-fill:before {
    content: "\ec7c";
}

.icon-store-3-fill:before {
    content: "\ec7d";
}

.icon-time-fill:before {
    content: "\ec7e";
}

.icon-parent-fill:before {
    content: "\ec7f";
}

.icon-secure-payment-fill:before {
    content: "\ec80";
}

.icon-notification-3-fill:before {
    content: "\ec81";
}

.icon-road-map-fill:before {
    content: "\ec82";
}

.icon-store-fill:before {
    content: "\ec83";
}

.icon-thumb-up-fill:before {
    content: "\ec84";
}

.icon-refund-2-fill1:before {
    content: "\ec85";
}

.icon-restaurant-2-fill:before {
    content: "\ec86";
}

.icon-qr-scan-2-fill:before {
    content: "\ec87";
}

.icon-stack-fill:before {
    content: "\ec88";
}

.icon-table-fill:before {
    content: "\ec89";
}

.icon-toggle-fill:before {
    content: "\ec8a";
}

.icon-women-fill:before {
    content: "\ec8b";
}

.icon-wechat-2-fill:before {
    content: "\ec8c";
}

.icon-weibo-fill:before {
    content: "\ec8d";
}

.icon-webcam-fill:before {
    content: "\ec8e";
}

.icon-trophy-fill:before {
    content: "\ec8f";
}

.icon-vip-fill:before {
    content: "\ec90";
}

.icon-wechat-fill:before {
    content: "\ec91";
}

.icon-pie-chart-2-fill:before {
    content: "\ec92";
}

.icon-passport-fill:before {
    content: "\ec93";
}

.icon-vip-crown-2-fill:before {
    content: "\ec94";
}

.icon-window-fill:before {
    content: "\ec95";
}

.icon-user-fill:before {
    content: "\ec96";
}

.icon-vip-diamond-fill:before {
    content: "\ec97";
}

.icon-shield-check-fill:before {
    content: "\ec98";
}

.icon-upload-cloud-fill:before {
    content: "\ec99";
}

.icon-shopping-basket-fill:before {
    content: "\ec9a";
}

.icon-wallet-2-fill:before {
    content: "\ec9b";
}

.icon-vidicon-fill:before {
    content: "\ec9c";
}

.icon-shield-cross-fill:before {
    content: "\ec9d";
}

.icon-zoom-in-fill:before {
    content: "\ec9e";
}

.icon-volume-up-fill:before {
    content: "\ec9f";
}

.icon-store-2-fill:before {
    content: "\eca0";
}

.icon-survey-fill:before {
    content: "\eca2";
}

.icon-service-fill:before {
    content: "\eca3";
}

.icon-share-forward-box-fill:before {
    content: "\eca4";
}

.icon-video-fill:before {
    content: "\eca5";
}

.icon-zoom-out-fill:before {
    content: "\eca6";
}

.icon-truck-fill:before {
    content: "\eca7";
}

.icon-walk-fill:before {
    content: "\eca8";
}

.icon-stack-line1:before {
    content: "\ebf8";
}

.icon-user-line-copy:before {
    content: "\ebf9";
}

.icon-message-3-line1-copy:before {
    content: "\ebfa";
}

.icon-a-24-hours-line:before {
    content: "\eb22";
}

.icon-account-box-line:before {
    content: "\eb23";
}

.icon-archive-line:before {
    content: "\eb24";
}

.icon-arrow-left-s-line:before {
    content: "\eb25";
}

.icon-arrow-up-s-line:before {
    content: "\eb26";
}

.icon-alipay-line:before {
    content: "\eb27";
}

.icon-archive-drawer-line:before {
    content: "\eb28";
}

.icon-arrow-right-s-line:before {
    content: "\eb29";
}

.icon-alarm-warning-line:before {
    content: "\eb2a";
}

.icon-apps-line:before {
    content: "\eb2b";
}

.icon-barcode-line:before {
    content: "\eb2c";
}

.icon-article-line:before {
    content: "\eb2d";
}

.icon-bar-chart-2-line:before {
    content: "\eb2e";
}

.icon-bar-chart-box-line:before {
    content: "\eb2f";
}

.icon-barcode-box-line:before {
    content: "\eb30";
}

.icon-brush-3-line:before {
    content: "\eb31";
}

.icon-bank-card-line:before {
    content: "\eb32";
}

.icon-building-3-line:before {
    content: "\eb33";
}

.icon-building-line:before {
    content: "\eb34";
}

.icon-barricade-line:before {
    content: "\eb35";
}

.icon-bookmark-line:before {
    content: "\eb36";
}

.icon-compass-line:before {
    content: "\eb37";
}

.icon-bookmark-2-line:before {
    content: "\eb38";
}

.icon-calendar-2-line:before {
    content: "\eb39";
}

.icon-contacts-book-2-line:before {
    content: "\eb3a";
}

.icon-cloud-line:before {
    content: "\eb3b";
}

.icon-chat-smile-2-line:before {
    content: "\eb3c";
}

.icon-building-2-line:before {
    content: "\eb3d";
}

.icon-contacts-line:before {
    content: "\eb3e";
}

.icon-database-line:before {
    content: "\eb3f";
}

.icon-bilibili-line:before {
    content: "\eb40";
}

.icon-briefcase-4-line:before {
    content: "\eb41";
}

.icon-draft-line:before {
    content: "\eb42";
}

.icon-calendar-line:before {
    content: "\eb43";
}

.icon-dossier-line:before {
    content: "\eb44";
}

.icon-coupon-2-line:before {
    content: "\eb45";
}

.icon-customer-service-line:before {
    content: "\eb46";
}

.icon-download-line:before {
    content: "\eb47";
}

.icon-delete-bin-line:before {
    content: "\eb48";
}

.icon-eye-close-line:before {
    content: "\eb49";
}

.icon-file-pdf-line:before {
    content: "\eb4a";
}

.icon-file-copy-2-line:before {
    content: "\eb4b";
}

.icon-file-ppt-2-line:before {
    content: "\eb4c";
}

.icon-file-list-2-line:before {
    content: "\eb4d";
}

.icon-car-line:before {
    content: "\eb4e";
}

.icon-funds-box-line:before {
    content: "\eb4f";
}

.icon-empathize-line:before {
    content: "\eb50";
}

.icon-file-word-line:before {
    content: "\eb51";
}

.icon-file-excel-line:before {
    content: "\eb52";
}

.icon-government-line:before {
    content: "\eb53";
}

.icon-function-line:before {
    content: "\eb54";
}

.icon-heart-2-line:before {
    content: "\eb55";
}

.icon-eye-line:before {
    content: "\eb56";
}

.icon-earth-line:before {
    content: "\eb57";
}

.icon-file-ppt-line:before {
    content: "\eb58";
}

.icon-global-line:before {
    content: "\eb59";
}

.icon-file-word-2-line:before {
    content: "\eb5a";
}

.icon-gift-line:before {
    content: "\eb5b";
}

.icon-edit-2-line:before {
    content: "\eb5c";
}

.icon-first-aid-kit-line:before {
    content: "\eb5d";
}

.icon-file-list-3-line:before {
    content: "\eb5e";
}

.icon-download-cloud-line:before {
    content: "\eb5f";
}

.icon-honour-line:before {
    content: "\eb60";
}

.icon-game-line:before {
    content: "\eb61";
}

.icon-hospital-line:before {
    content: "\eb62";
}

.icon-file-excel-2-line:before {
    content: "\eb63";
}

.icon-arrow-down-s-line:before {
    content: "\eb64";
}

.icon-dashboard-2-line:before {
    content: "\eb65";
}

.icon-group-line:before {
    content: "\eb66";
}

.icon-home-5-line:before {
    content: "\eb67";
}

.icon-fingerprint-line:before {
    content: "\eb68";
}

.icon-home-4-line:before {
    content: "\eb69";
}

.icon-image-line:before {
    content: "\eb6a";
}

.icon-footprint-line:before {
    content: "\eb6b";
}

.icon-lock-unlock-line:before {
    content: "\eb6c";
}

.icon-macbook-line:before {
    content: "\eb6d";
}

.icon-health-book-line:before {
    content: "\eb6e";
}

.icon-live-line:before {
    content: "\eb6f";
}

.icon-message-3-line:before {
    content: "\eb70";
}

.icon-menu-2-line:before {
    content: "\eb71";
}

.icon-men-line:before {
    content: "\eb72";
}

.icon-login-box-line:before {
    content: "\eb73";
}

.icon-map-pin-line:before {
    content: "\eb74";
}

.icon-heart-pulse-line:before {
    content: "\eb75";
}

.icon-headphone-line:before {
    content: "\eb76";
}

.icon-open-arm-line:before {
    content: "\eb77";
}

.icon-layout-4-line:before {
    content: "\eb78";
}

.icon-mouse-line:before {
    content: "\eb79";
}

.icon-information-line:before {
    content: "\eb7a";
}

.icon-megaphone-line:before {
    content: "\eb7b";
}

.icon-map-2-line:before {
    content: "\eb7c";
}

.icon-history-line:before {
    content: "\eb7d";
}

.icon-list-settings-line:before {
    content: "\eb7e";
}

.icon-pass-pending-line:before {
    content: "\eb7f";
}

.icon-passport-line:before {
    content: "\eb80";
}

.icon-notification-3-line:before {
    content: "\eb81";
}

.icon-refund-2-fill:before {
    content: "\eb82";
}

.icon-questionnaire-line:before {
    content: "\eb83";
}

.icon-reply-line:before {
    content: "\eb84";
}

.icon-profile-line:before {
    content: "\eb85";
}

.icon-rss-line:before {
    content: "\eb86";
}

.icon-secure-payment-line:before {
    content: "\eb87";
}

.icon-question-line:before {
    content: "\eb88";
}

.icon-mail-line:before {
    content: "\eb89";
}

.icon-restaurant-2-line:before {
    content: "\eb8a";
}

.icon-home-6-line:before {
    content: "\eb8b";
}

.icon-pie-chart-2-line:before {
    content: "\eb8c";
}

.icon-lock-line:before {
    content: "\eb8d";
}

.icon-robot-line:before {
    content: "\eb8e";
}

.icon-red-packet-line:before {
    content: "\eb8f";
}

.icon-road-map-line:before {
    content: "\eb90";
}

.icon-qr-scan-2-line:before {
    content: "\eb91";
}

.icon-phone-line:before {
    content: "\eb92";
}

.icon-school-line:before {
    content: "\eb93";
}

.icon-message-2-line:before {
    content: "\eb94";
}

.icon-search-line:before {
    content: "\eb95";
}

.icon-numbers-line:before {
    content: "\eb96";
}

.icon-refund-2-line:before {
    content: "\eb97";
}

.icon-shield-user-line:before {
    content: "\eb98";
}

.icon-parent-line:before {
    content: "\eb99";
}

.icon-navigation-line:before {
    content: "\eb9a";
}

.icon-service-line:before {
    content: "\eb9b";
}

.icon-qr-code-line:before {
    content: "\eb9c";
}

.icon-smartphone-line:before {
    content: "\eb9d";
}

.icon-shield-check-line:before {
    content: "\eb9e";
}

.icon-shopping-basket-line:before {
    content: "\eb9f";
}

.icon-shopping-bag-2-line:before {
    content: "\eba0";
}

.icon-share-line:before {
    content: "\eba1";
}

.icon-store-2-line:before {
    content: "\eba2";
}

.icon-share-forward-box-line:before {
    content: "\eba3";
}

.icon-share-box-line:before {
    content: "\eba4";
}

.icon-shield-cross-line:before {
    content: "\eba5";
}

.icon-send-plane-line:before {
    content: "\eba6";
}

.icon-movie-2-line:before {
    content: "\eba7";
}

.icon-table-line:before {
    content: "\eba8";
}

.icon-shut-down-line:before {
    content: "\eba9";
}

.icon-team-line:before {
    content: "\ebaa";
}

.icon-shopping-bag-3-line:before {
    content: "\ebab";
}

.icon-settings-line:before {
    content: "\ebac";
}

.icon-store-3-line:before {
    content: "\ebad";
}

.icon-suitcase-line:before {
    content: "\ebae";
}

.icon-volume-up-line:before {
    content: "\ebaf";
}

.icon-truck-line:before {
    content: "\ebb0";
}

.icon-walk-line:before {
    content: "\ebb1";
}

.icon-time-line:before {
    content: "\ebb2";
}

.icon-vip-diamond-line:before {
    content: "\ebb3";
}

.icon-vip-crown-2-line:before {
    content: "\ebb4";
}

.icon-tv-2-line:before {
    content: "\ebb5";
}

.icon-toggle-line:before {
    content: "\ebb6";
}

.icon-wechat-channels-line:before {
    content: "\ebb7";
}

.icon-thumb-down-line:before {
    content: "\ebb8";
}

.icon-webcam-line:before {
    content: "\ebb9";
}

.icon-wallet-2-line:before {
    content: "\ebba";
}

.icon-store-line:before {
    content: "\ebbb";
}

.icon-women-line:before {
    content: "\ebbc";
}

.icon-zoom-in-line:before {
    content: "\ebbd";
}

.icon-seedling-line:before {
    content: "\ebbe";
}

.icon-survey-line:before {
    content: "\ebbf";
}

.icon-user-line:before {
    content: "\ebc0";
}

.icon-stack-line:before {
    content: "\ebc1";
}

.icon-slideshow-3-line:before {
    content: "\ebc2";
}

.icon-vidicon-line:before {
    content: "\ebc3";
}

.icon-wechat-2-line:before {
    content: "\ebc4";
}

.icon-video-line:before {
    content: "\ebc5";
}

.icon-window-line:before {
    content: "\ebc6";
}

.icon-zoom-out-line:before {
    content: "\ebc7";
}

.icon-vip-line:before {
    content: "\ebc8";
}

.icon-star-line:before {
    content: "\ebc9";
}

.icon-upload-cloud-line:before {
    content: "\ebca";
}

.icon-thumb-up-line:before {
    content: "\ebcb";
}

.icon-weibo-line:before {
    content: "\ebcc";
}

.icon-wechat-line:before {
    content: "\ebcd";
}

.icon-trophy-line:before {
    content: "\ebce";
}

.icon-checkbox-blank-circle-line:before {
    content: "\ebcf";
}

.icon-bill-line:before {
    content: "\ebd0";
}

.icon-alert-line:before {
    content: "\ebd1";
}

.icon-macbook-line1:before {
    content: "\ebd2";
}

.icon-checkbox-line:before {
    content: "\ebd3";
}

.icon-device-line:before {
    content: "\ebd4";
}

.icon-checkbox-indeterminate-line:before {
    content: "\ebd5";
}

.icon-hotel-line:before {
    content: "\ebd6";
}

.icon-bar-chart-box-line1:before {
    content: "\ebd7";
}

.icon-checkbox-blank-line:before {
    content: "\ebd8";
}

.icon-eye-close-line1:before {
    content: "\ebd9";
}

.icon-file-copy-2-line1:before {
    content: "\ebda";
}

.icon-add-box-line:before {
    content: "\ebdb";
}

.icon-qr-scan-2-line1:before {
    content: "\ebdc";
}

.icon-shut-down-line1:before {
    content: "\ebdd";
}

.icon-fullscreen-line:before {
    content: "\ebde";
}

.icon-question-line1:before {
    content: "\ebdf";
}

.icon-qr-scan-line:before {
    content: "\ebe0";
}

.icon-search-line1:before {
    content: "\ebe1";
}

.icon-message-3-line1:before {
    content: "\ebe2";
}

.icon-alarm-warning-line1:before {
    content: "\ebe3";
}

.icon-share-forward-box-line1:before {
    content: "\ebe4";
}

.icon-group-line1:before {
    content: "\ebe5";
}

.icon-router-line:before {
    content: "\ebe6";
}

.icon-notification-3-line1:before {
    content: "\ebe7";
}

.icon-window-2-line:before {
    content: "\ebe8";
}

.icon-service-line1:before {
    content: "\ebe9";
}

.icon-window-line1:before {
    content: "\ebea";
}

.icon-mouse-line1:before {
    content: "\ebeb";
}

.icon-zoom-in-line1:before {
    content: "\ebec";
}

.icon-todo-line:before {
    content: "\ebed";
}

.icon-qr-code-line1:before {
    content: "\ebee";
}

.icon-spam-line:before {
    content: "\ebef";
}

.icon-search-2-line:before {
    content: "\ebf0";
}

.icon-slideshow-3-line1:before {
    content: "\ebf1";
}

.icon-zoom-out-line1:before {
    content: "\ebf2";
}

.icon-computer-line:before {
    content: "\ebf3";
}

.icon-spam-2-line:before {
    content: "\ebf4";
}

.icon-spam-3-line:before {
    content: "\ebf5";
}

.icon-thumb-down-line1:before {
    content: "\ebf6";
}

.icon-thumb-up-line1:before {
    content: "\ebf7";
}
